#name{
  width: 200px;
}

.form-group{
  margin-bottom: 5px;
}

#qrcode{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

#hash-code{
  width: 100%;
  text-align: center;
  display: block;
}

h3, h4{
  margin: 5px;
}

*{
  text-align: center;
}

#message{
  padding: 0;
  margin: 5px;
  color: #068315;
}